{% extends 'ventas/base.html' %}
{% load static %}

{% block headers %}
<title>Contacto</title>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row my-5">
    
    <div class="col-12 col-md-6 offset-md-3">
        <h2 class="text-center">Formulario de Contacto</h2>
        <hr>

        <form method="post" class="my-5">

            <div class="m-auto col-12"> 
                {% csrf_token %}
        
                {{ form | crispy }}
        
                <div class="d-flex justify-content-end">
                    <input type="reset" value="Cancelar" class="btn btn-danger">
                    &nbsp;
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </div>
            </div>
        
        </form>
        {{mensaje}}
    </div>
</div>
{% endblock %}