{% extends "ventas/base.html" %}

{% load static %}

{% block js %}
<script>
    function eliminarMarca(id){
        
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"esta acción no se puede deshacer",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, cancelar",
            "confirmButtonText":"Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"
        }) 
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/eliminar-marca/"+id+"/"
            }
        })
    }
</script>
{% endblock %}
{% block headers%}
<title>Listar</title>
{% endblock %}


{% block content%}
<table class="table table-striped my-4">
    <tr class="table-secondary">
        <th>Categoria</th>
        <th>Accion</th>
        

    </tr>

    {% for m in entity %}

    <tr class="table-light">
        <td>{{m.nombre | title}}</td>
        <td>
            <a href="#" onclick="eliminarMarca({{ m.id }})" class="btn btn-danger">Eliminar</a>
        </td> 
    </tr>
    {% endfor %}
</table>

<hr>
<div>
    {% include 'ventas/paginator.html' %}
</div>

{% endblock %}