{% extends 'ventas/base.html' %}
{% load static %}

{% block headers %}
<title>Freidoras</title>
{% endblock %}

{% block content %}

<div class="row my-5">
    {% load humanize %}
    <div class="col-12 col-md-6 offset-md-3">
        <h2 class="text-center">Freidoras</h2>
        <hr>
    </div>

    <div class="row">
        {% for p in productos %} {% comment %} Se recorre toda la lista de productos {% endcomment %}
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                {% if p.imagen %} {% comment %} Se evalua si la imagen existe o no {% endcomment %}
                <img class="card-img-top" src="{{ p.imagen.url }}" alt="Imagen del Producto">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ p.marca | capfirst }}</h5> {% comment %} Todo la marca en mayuscula {% endcomment %}
                    <h4 class="card-title">{{ p.nombre | title }}</h5> {% comment %} Cada palabra comienza con mayuscula {% endcomment %}
                    <h6>${{ p.precio | intcomma }}</h6>

                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#mi-modal{{ p.id }}">Detalles</a>
                        <a href="#" class="btn btn-secondary">Agregar</a>
                        

                        <!-- Ventana modal -->
                        <div class="modal fade" id="mi-modal{{ p.id }}" tabindex="-1" arial-hidden="true" aria-labelledby="label-modal-{{ p.id }}" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <!-- Contenido de la caja -->
                                <div class="modal-content">
                                    <!-- Encabezado de la caja -->
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ p.nombre }}</h5>
                                    </div>
                                    <!-- Cuerpo de la caja -->
                                    <div class="modal-body">
                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row g-0">
                                                <div class="col-md-6 align-self-center"> <!-- Alineamos la imagen verticalmente -->
                                                    {% if p.imagen %}
                                                    <img src="{{ p.imagen.url }}" class="img-fluid rounded-start" alt="...">
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-danger mb-3">${{ p.precio | intcomma }}</h5>
                                                        <div class="input-group mb-3">
                                                            <select id="cantidad" class="form-select">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                            <button class="btn btn-secondary" type="button">Agregar</button>
                                                        </div>
                                                        <h6>Categoria del producto</h6>
                                                        <p><b>{{ p.categoria }}</b></p>
                                                        <h6>Caracteristicas Destacadas</h6>
                                                        <p>{{ p.descripcion }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}